<div class="card">
  <div class="card-header">
    Grocery List
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4"><input type="text"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by:</h4>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><button class="btn btn-ptimary">Show Image</button></th>
              <th>Item</th>
              <th>Code</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Got it</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Brocolli</td>
              <td>BRC-024</td>
              <td>2</td>
              <td>5.99</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
