<div class="card">
  <div class="card-header">
    Grocery List
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)] = "inputText">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{inputText}}</h4>
      </div>
      <div class="table-responsive">
        <table class="table" *ngIf="groceries && groceries.length">
          <thead>
            <tr>
              <th>
                <button
                  class="btn btn-primary"
                  (click) ="toggleImage()"
                >{{showImage? 'Hide' : 'Show'}} Image</button>
              </th>
              <th>Item</th>
              <th>Code</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Got it</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let grocery of groceries">
              <td>
                <img
                  *ngIf = "showImage"
                  [src] = "grocery.imageUrl"
                  [style.width.px] ="imageWidth"
                  [style.margin.px] = "imageMargin">
                </td>
              <td id="grocery-name">{{grocery.groceryName}}</td>
              <td>{{grocery.groceryCode | lowercase}}</td>
              <td>{{grocery.quantity}}</td>
              <td>{{grocery.price | currency:'CAD'}}</td>
              <td><app-check-circle [isChecked]="grocery.gotIt"></app-check-circle></td>
              <!-- <td>{{grocery.gotIt}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


